In [1]:
from meteostat import Hourly, Stations
from datetime import datetime
import pandas as pd

In [3]:
data = pd.read_csv("../data/bucharest_final_dataset_2022.csv")

In [5]:
# Reorder columns
data = data[[
    "start", "end",
    "pm10", "pm2_5", "no2",
    "temperature", "humidity", "wind_speed", "pressure",
    "longitude", "latitude"
]]

In [6]:
data

,start,end,pm10,pm2_5,no2,temperature,humidity,wind_speed,pressure,longitude,latitude
0,2022-01-02 00:00:00,2022-01-02 01:00:00,46.48,42.36,30.20,4.8,100.0,7.2,1021.3,26.1406,44.4264
1,2022-01-02 01:00:00,2022-01-02 02:00:00,33.50,30.73,18.84,3.6,100.0,3.6,1021.8,26.1406,44.4264
2,2022-01-02 02:00:00,2022-01-02 03:00:00,19.34,17.39,16.96,2.9,100.0,3.6,1021.8,26.1406,44.4264
3,2022-01-02 03:00:00,2022-01-02 04:00:00,14.99,12.92,14.68,2.7,100.0,3.6,1022.1,26.1406,44.4264
4,2022-01-02 04:00:00,2022-01-02 05:00:00,16.07,13.79,17.50,2.2,100.0,3.6,1022.7,26.1406,44.4264
...,...,...,...,...,...,...,...,...,...,...,...
7740,2022-12-30 17:00:00,2022-12-30 18:00:00,36.82,32.02,25.33,6.6,85.0,7.2,1024.4,26.1406,44.4264
7741,2022-12-30 18:00:00,2022-12-30 19:00:00,41.26,36.48,39.92,5.9,88.0,3.6,1024.9,26.1406,44.4264
7742,2022-12-30 19:00:00,2022-12-30 20:00:00,42.31,37.14,38.87,6.2,86.0,3.6,1025.1,26.1406,44.4264
7743,2022-12-30 21:00:00,2022-12-30 22:00:00,50.59,44.99,29.64,5.9,87.0,3.6,1025.8,26.1406,44.4264
7744,2022-12-30 22:00:00,2022-12-30 23:00:00,50.38,44.51,38.70,4.2,95.0,3.6,1026.3,26.1406,44.4264